<!DOCTYPE html>
<html>
<head>
    <title>Add Product</title>
</head>
<body>
    <h1>Add Product</h1>
    
    <form action="/account/addProduct" method="POST" enctype="multipart/form-data">
        <% if (error) { %>
            <p class="error"><%= error %></p>
        <% } %>
        <% if (success) { %>
            <p class="success"><%= success %></p>   
        <% } %>

        <label for="name">Product name:</label>
        <input type="text" name="name" required><br><br>

        <label for="course">Course name:</label>
        <input type="text" name="course" required><br><br>

        <label for="listNumber">List number:</label>
        <input type="number" name="listNumber" required><br><br>

        <label for="taskNumber">Task number:</label>
        <input type="number" name="taskNumber" required><br><br>
        
        <label for="price">Price:</label>
        <input type="number" name="price" required><br><br>

        <label for="solutionDescription">Solution description:</label>
        <textarea name="description" required></textarea><br><br>
        
        <label for="file">Image file (max 5MB):</label>
        <input type="file" name="file"><br><br>
        
        <!-- TODO syntax highlighing, additional options for code testing? -->
        <label for="code">Code Snippet:</label>
        <textarea name="code"></textarea><br><br>
        
        <input type="submit" value="Add Product">
    </form>
</body>
</html>
