<!-- views/userAccount.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Account</title>
</head>
<body>
    <header>
        <h1>Welcome to Your Account</h1>
    </header>

    <nav>
        <ul>
            <li><a href="account/addProduct">Add Product</a></li>
            <li><a href="account/addedProducts">Added Products</a></li>
        </ul>
    </nav>
</body>
</html>
