<%# TODO: if accountType is admin add post button for removing products thru /admin/removeProduct and id parameter %>
<div class="product-item">
    <%# TODO: product image %>
        <div class="product-splash">Posiadane</div>
        <div class="product-name"><%= product.name %></div>
        <img src="<%= product.imageFileName == "" ? "/css/media/item.jpg" : "/images/" + product.imageFileName %>"/>
        <div class="product-details">
            <div class="product-price">£<%= product.price.toFixed(2) %></div>
            <div class="product-actions">
                <a class="button secondary" onclick="window.location.href = '/product/<%= product.id %>?' +  window.location.href.split('?')[1]">Szczegóły</a>
            </div>
        </div>
</div>


