<!-- TODO: if accountType is admin add post button for removing products thru /admin/removeProduct and id parameter -->
<article class="product-item">
    <!-- TODO: product image -->
    <div class="product-details">
        <p class="product-name"><%= product.name %></p>
        <p class="product-price">£<%= product.price.toFixed(2) %></p>
        <div class="product-actions">
            <a class="btn btn-view" href="/product/<%= product.id %>">View Product</a>
            <form id="addToCartForm" action="cart/addToCart" method="post">
                <input type="hidden" name="id" value="<%= product.id %>">
                <button type="submit">Add to Cart</button>
            </form>
        </div>
    </div>
</article>

<script>
    function addToCart() {
        document.getElementById("addToCartForm").submit();
    }
</script>
