<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Your Shopping Cart</h1>
    
        <% if (cart && cart.length > 0) { %>
            <ul>
                <% cart.forEach(item => { %>
                    <li>
                        <p><%= item.name %></p>
                        <p>Price: £<%= item.price %></p>
    
                        <form method="post" action="/cart/removeProduct">
                            <input type="hidden" name="id" value="<%= item.id %>">
                            <input type="submit" name="remove_btn" class="remove-btn" value="remove">
                        </form>
                    </li>
                <% }) %>
            </ul>
    
            <p>Total: £<%= total %></p>
    
            <div class="checkout-container">
                <form method="post" action="/checkout/createOrder">
                    <input type="submit" class="btn checkout-btn" value="Buy" name="">
                </form>
            </div>
    
        <% } else { %>
            <p>Your cart is empty.</p>
        <% } %>
        <button onclick="window.location.href = '/listing';">Add another product to cart</button>
        <button onclick="window.location.href = '/';">Go to Homepage</button>
    </div> 
</body>
</html>
