<!DOCTYPE html>
<html>
<head>
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <% if (username) {%>
            <h1>Welcome Home <%= username %>! </h1>
        <%} else {%>
            <h1>Welcome Home <%= accountType %>! </h1>
        <% } %>
        
        <p>Hello world! - it's a must have</p>
        
        <% if (accountType === 'guest') {%>
            <button onclick="window.location.href = '/login';">Go to Login</button>
        <% } else if (accountType === 'admin') { %>
            <button onclick="window.location.href = '/admin';">Go to Admin</button>
            <button onclick="window.location.href = '/logout';">Logout</button>
        <% } else { %>
            <button onclick="window.location.href = '/logout';">Logout</button>
        <% } %>

        <button onclick="window.location.href = '/listing';">Go to Products</button>
    </div>
</body>
</html>
