<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="/css/defaults.css">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rubik+Doodle+Shadow&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
</head>
<body>
    <div class="header">
        <a href="/"><div class="logo">FajrantInator.pl</div></a>
        
        <div class="cart-div">
        </div>
    </div>
    <div class="container">
        <a class="backButton" href="/"><span class="material-symbols-outlined">arrow_back_ios</span></a>
        <form class="loginForm" action="/login" method="POST">
        <h1>Logowanie</h1>
            <% if (locals.redirectURL) { %>
                <input type="hidden" name="redirectURL" id="redirectURL" value="<%= redirectURL %>">
            <% } else { %>
                <input type="hidden" name="redirectURL" id="redirectURL" value="/">
            <% } %>
            
            <input type="text" name="username" placeholder="Nazwa użytkownika" tabindex="1" required>
            <input type="password" name="password" placeholder="Hasło" tabindex="2" required>
            <% if(locals.error && error) { %>
                <p style="color: red;"><%= error %></p>
            <% } %>
            <input type="submit" class="button primary" value="Zaloguj się" tabindex="3">
        
        <div class="register">
            <a href="/login/register">Nie posiadasz konta? Zarejestruj się tutaj</a>
        </div>
        </form>
    </div>
</body>
</html>
