<!DOCTYPE html>
<html>
<head>
    <title>Products</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <h1><%= productName %></h1>
        <% if (productDescription) { %>
            <h1>Description</h1>
            <p><%= productDescription %></p>
        <% } %>
        <% if (productSolution) { %>
            <p>Solution: <%= productSolution %></p>
        <% } %>
        <button onclick="history.back()">Back</button>
        <button onclick="window.location.href = '/';">Go to Homepage</button>
    </div>
</body>
</html>