<!DOCTYPE html>
<html>
<head>
    <title>Register Page</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <h2>Register</h2>
        <% if (error) { %>
            <p style="color: red;"><%= error %></p>
        <% } %>

        <form method="post" action="/login/register">
            <input type="text" name="username" placeholder="Username" required="true">
            <input type="password" name="password" placeholder="Password" required="true">
            <input type="email" name="email" placeholder="Email" required="true">
            <input type="submit" value="Register">
        </form>

        <div class="back-button">
            <button onclick="window.location.href='/login'">Back</button>
        </div>
    </div>
</body>
</html>
