<!DOCTYPE html>
<html>
<head>
    <title>Display Users</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <h1>Users</h1>
    <ul>
        <% users.forEach(user => { %>
            <li>
                <h3><%= user.username %></h3>
                <%= user.email %>
                <%= user.type %>
                <%= user.orders %>
            </li>
        <% }) %>
    </ul>
</body>
</html>